[submodule "Unified-Convolution-Framework"]
	path = Unified-Convolution-Framework
	url = https://github.com/nullplay/Unified-Convolution-Framework.git
[submodule "sputnik"]
	path = sputnik
	url = https://github.com/google-research/sputnik.git
